<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DBUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F813B7371E43716A008CB5F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F813B7501E43716A008CB5F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F813B75B1E43716B008CB5F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
